# URL publique finale du site, sans slash final.
# Exemple : https://www.votredomaine.com
VITE_SITE_URL=https://get-here.netlify.app

# URL de l'API backend.
VITE_API_URL=https://get-here-server-nd17.onrender.com